/* src/components/Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .profile-container {
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .profile-container img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  .swipe-buttons {
    margin-top: 16px;
    display: flex;
    gap: 16px;
  }
  
  .swipe-buttons button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Add styles for the swipe animations using react-swipeable */
  .swipe-container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .swipeable-profile {
    width: 100%;
    display: flex;
  }
  
  .swipeable-profile .profile-container {
    flex: 1 0 100%;
  }
  
  /* Apply the swipe transition on the profile container */
  .swipe-transition {
    transition: transform 0.3s ease;
  }
  
  /* Adjust the z-index to ensure the top profile is visible */
  .swipeable-profile:not(:first-child) .profile-container {
    z-index: -1;
  }
  
  .profile-icon{
    position: fixed;
    top: 40px;
    right:40px;

  }